extends layout

block content
    div.ui.raised.very.padded.segment.container
        div.ui.olive.huge.message.
            Welcome on Free2Talk your new real-time-chat, hidden behind your amazing nickname
            go on and talk with others hidden person about something you like
        div.ui.two.column.centered.grid
            img(src='/images/favicon.png').ui.image

