extends layout

block content
    div.ui.raised.very.padded.segment.container
        div.ui.two.column.centered.grid
            div.column
                h1.ui.header.horizontal.divider
                    i.icon.users.green
                    div.content Most Famous Topics
                div.ui.equal.width.center.aligned.padded.grid
                    div.ui.cards
                        div.card.yellow
                            div.content
                                div.header Why Not This One
                                div.meta by Someone
                                div.description this topic is so funny
                            div.extra.content
                                button.ui.button.inverted.green Write on this topic
                        div.card.yellow
                            div.content
                                div.header What about this
                                div.meta by Someone else
                                div.description this one is even funnier
                            div.extra.content
                                button.ui.button.inverted.red Write on this topic


                div.ui.hidden.divider
                h1.ui.horizontal.header.divider
                    i.icon.certificate.yellow
                    div.content Best Message


                div.ui.equal.width.center.aligned.padded.grid
                    div.ui.card.yellow


                        div.segment.padded.ui.inverted.secondary.red
                            div.content
                                div.meta
                                    span.right.floated.time yesterday
                               div.description write this text blablablbalalalalalalalalalalallalalal
                            div.extra.content
                                div.right.floated.author
                                    div someone