extends layout

block content
  div.ui.center.aligned.basic.segment
    h1.ui.inverted.grey.header #{title}
    div.column
      div.container.ui.fluid.inverted.segment.grey(style="margin-top:10%")
        div.ui.action.massive
          div.ui.inverted.icon.input.segment.inverted.category
            input#pseudo(type="text" placeholder="Choose a pseudo")
            a(href='/home').ui.right.labeled.icon.button.grey.center#start
              i.copy sign in
          div.results

