doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/Semantic-UI-CSS-master/semantic.min.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    block content
  script(src ='javascripts/jquery.js')
  script(src ='stylesheets/Semantic-UI-CSS-master/semantic.min.js')
  script(src ='javascripts/script.js')