doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/Semantic-UI-CSS-master/semantic.min.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    div.ui.center.aligned.basic.segment
      h1.ui.header #{title}

    div.ui.borderless.main.menu
      div.ui.tex.container
        div.item.left
          a(href='/')
              i.home.icon.huge.grey
        div.item.right
          div.ui.button.grey#buttonCreate Create new topic
        div.item
          div.ui.icon.input
            input(type='text' placeholder='search')
            i.search.icon


            // modal
    div.ui.basic.test.modal.inverted.segment.yellow#createAccont
      div.header Create a new account
        // will change it after
      div.ui.message.inverted.red#message.hidden
        div.header Pick one !
        p Choose a nickname in the list below and fill the password champ
      div.content
        div.ui.fluid.selection.dropdown
          input(type="hidden" name="user")#nickname
          i.dropdown.icon
          div.default.text Nickname
          div.menu#signInMenu

        label Password
        div.ui.input.fluid
          input(type='password' placeholder='password')#password
      div.actions
          button.ui.button.approve.grey SignIn

      div.ui.horizontal.divider Or
      div.header Connect to your account
      div.ui.message.inverted.red#errorLoginLessage.hidden
        div.header Pick one !
        p Find your nickname in the list below and fill the password champ
      div.content
        div.ui.fluid.selection.dropdown
          input(type="hidden" name="user")#loginNickname
          i.dropdown.icon
          div.default.text Nickname
          div.menu#loginMenu
        label Password
          div.ui.input.fluid
            input(type='password' placeholder='password')#loginPassword
      div.actions
          buttonu.ui.deny.button.grey Login



      div.inline.field
        -popup = "Free2talk is an application in which you can talk hidden behind an original nickname to other people like you on several topics. no insults, no name, no inscription, enjoy!"
        i(data-content=popup data-variation="inverted wide").big.circular.help.icon#information
        div.ui.left.pointing.blue.basic.label.large What is Free2Talk




     div.ui.modal.inverted.segment.grey#createTopic
      div.header Create a new topic
      div.ui.inverted.segment.yellow
       div.ui.inverted.form.segment.very.padded.yellow
         div.ui.message.inverted.red#topicMessage.hidden
         div.ui.message.inverted.green#succesTopic.hidden
         div.two.fields
           div.field
             label Name
             div.ui.icon.input
              input(type='text' placeholder='topicName' name='topicName')
              i.icon.write.large
           div.field
            label Category
            select.ui.search.dropdown#category
          div.field
            label Color
            div.ui.fluid.selection.dropdown
              input(type="hidden" name="color")
              i.dropdown.icon
              div.default.text Select your topic color
              div.menu
                div.item(data-value='green')
                  div.ui.segment.inverted.green
                    div green
                div.item(data-value='teal')
                  div.ui.segment.inverted.teal
                    div Teal
                div.item(data-value='orange')
                  div.ui.segment.inverted.orange
                    div Orange
                div.item(data-value='brown')
                  div.ui.segment.inverted.brown
                    div Brown
                div.item(data-value='purple')
                  div.ui.segment.inverted.violet
                    div Purple
          div.ui.hidden.divider
          div.actions
            button.grey.ui.button.approve#submitTopicCreation Submit


    block content
  script(src ='/javascripts/jquery.js')
  script(src ='/stylesheets/Semantic-UI-CSS-master/semantic.min.js')
  script(src ='/javascripts/script.js')