//
   Created by ENZO on 17/05/2017.
extends Layout

block content
    div.ui.menu
        div.item
            div.ui.button Create new topic
        div.right.item
            div.ui.icon.input
                input(type='text' placeholder='search')
                i.search.icon

