//
   Created by ENZO on 21/05/2017.
extends ../layout

block content
    div.ui.raised.very.padded.segment.container
        h1.header All Users
        div.ui.divider
        div.ui.grid
        -each user in allUser
            div.column
                div.ui.segment
                    -var url ="/user/"+user.name
                    a(href=url).ui.header.label.blue.image.author
                        -var source='/images/avatar/'+user.avatar
                        img(src= source)
                        div.detail #{user.name}