/*body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background: url("/images/bg1.jpg");
  background-size: cover;
  padding: 0;
  margin: 0;
}*/
.ui.fixed.sticky + p {
  margin-top: 39px;
  margin-bottom: 1%;
}


.centerBlock{
  margin-top: 50%;
  margin-left: 50%;
}


.visibility .overlay {
  background-color: #FFFFFF;
  padding: 0em;
  box-shadow: 0px 0px 0px rgba(0, 0, 0, 0);
  transition: all 0.5s ease;
  background: transparent;
}
/* change style */
.visibility .fixed.overlay {
  position: fixed;
  padding: 1em;
  box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.2);
}

a {
  color: #00B7FF;
}
